{% extends "base.html" %} {% load static %} {% block link %}
<link rel="stylesheet" href="{% static 'css/chat.css'%}" />
{% endblock %} {% block content %}
<div class="main">
  <div class="chat-area">
    <div class="output">
      <div class="user-input">
        <div class="i-1">
          <img src="{% static 'assets/default.png' %}" alt="..." />
          <p>@charantm</p>
        </div>
        <div class="i-2">
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis
            illo atque harum quisquam corporis dolorem, delectus quas ipsum nisi
            illum reprehenderit asperiores? Facere doloribus placeat tempora
            pariatur accusantium dignissimos ex?
          </p>
        </div>
      </div>
      <div class="ai-output">
        <div class="o-1">
          <img src="{% static 'assets/main.png'%}" alt="..." />
          <p class="font">vorex</p>
        </div>
        <div class="o-2">
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque
            voluptatem vel temporibus porro quas, laborum tenetur ipsum
            voluptatum dolor, laudantium totam quasi a, adipisci sed hic
            exercitationem earum facilis. Lorem ipsum dolor sit, amet
            consectetur adipisicing elit. Quaerat facilis, similique ut illo
            ducimus saepe eos! Fuga, libero doloribus! Quis magnam at ad numquam
            ipsum? Explicabo quod aliquam aperiam aut. Provident, delectus.
            Sapiente nobis beatae doloribus eos aut. At reiciendis saepe quos,
            consequatur alias nobis facere ea est omnis quis veritatis delectus
            repellat libero. Sunt consectetur fugiat possimus non repellendus?
            Officiis, officia illo eum perspiciatis sequi, nam tempora rem eaque
            at tempore, similique ratione mollitia impedit quae voluptatum
            quisquam reprehenderit doloribus? Accusantium adipisci rem
            exercitationem voluptas aliquam neque mollitia voluptatum.
            Laboriosam quos incidunt quod voluptas laudantium eum, harum nam
            cumque provident dignissimos debitis quisquam numquam repudiandae
            dolor modi vel adipisci minus consequatur molestiae enim deserunt
            odit voluptate! Quos, suscipit est. Nam aut distinctio quod,
            doloremque dolores molestiae amet architecto dolore obcaecati ab et
            sequi, voluptatem quo est impedit eos, explicabo veniam laboriosam
            eius autem. Quo obcaecati rem optio praesentium perferendis. Libero
            facilis quos totam consequatur qui cupiditate voluptatem. Possimus,
            nisi cumque. Odit non ut magni ullam officia fugiat unde ipsa minima
            corrupti. Facere sunt sint aliquam laudantium? Iure, sint tempore!
            Veniam atque sequi ratione quia, rem, dignissimos itaque eum
            doloribus blanditiis provident error ipsam enim laborum, cum
            voluptas modi sapiente perspiciatis molestiae vel exercitationem?
            Sit ut accusamus pariatur. Quo, accusantium. Cumque dolorem iste
            dolor. Quidem pariatur nesciunt expedita modi quae sequi iste vero
            quod id assumenda sapiente necessitatibus excepturi maiores placeat
            dignissimos repellat veritatis enim, molestiae ipsa rem minima
            temporibus? Asperiores necessitatibus ducimus quia, non, corrupti
            nesciunt facilis nam aperiam eveniet neque exercitationem, molestias
            ratione quam temporibus rem! Expedita aspernatur dolorum commodi!
            Tempore sapiente odio facere porro cupiditate sint obcaecati. Nam
            illum obcaecati in quae voluptatem animi eos libero doloremque?
            Beatae sit labore maiores, quis quibusdam a facere blanditiis?
            Facere quae exercitationem esse excepturi voluptate nulla nemo
            deleniti expedita ducimus. Quidem molestias libero, esse ut quas
            ipsam repudiandae voluptatum enim aperiam. Facere nobis id commodi
            omnis corrupti accusantium blanditiis vel? Esse maxime quasi dolorem
            ratione laboriosam nihil, soluta officiis nulla? Non sit aspernatur
            quam iure? Vitae natus repellendus aliquid, beatae quia assumenda
            rem sequi tenetur provident vero ut, facilis maiores nobis, voluptas
            ullam! Voluptas perferendis alias hic inventore veritatis. Quod.
            Sunt sint dicta facilis eligendi, cumque ex corporis ab repellendus,
            laborum vel dolores accusamus, in vitae cupiditate expedita incidunt
            odit voluptatibus dolore hic praesentium tempore veritatis corrupti
            veniam nostrum. Itaque. Voluptatem laborum deleniti corporis est
            minima maxime rem laudantium, qui ad. Iure nihil laboriosam sunt
            consequatur quae explicabo mollitia, ad quo assumenda similique
            fugiat neque laudantium deserunt, cumque corporis non. Ipsum, optio
            eum rerum possimus quaerat explicabo sed sapiente ipsam inventore
            repellendus at provident omnis veritatis sequi corporis, dolor
            repellat voluptatum, reprehenderit accusamus tempora obcaecati! Ea
            sit saepe reiciendis aliquid. Sint quisquam odio sunt nam officia
            voluptatem doloribus beatae voluptates minus, quam ullam nobis
            autem, quae modi exercitationem, distinctio libero deleniti
            cupiditate ratione doloremque consectetur voluptas accusamus quos
            qui! Illo. Amet quo blanditiis sint dolore eos excepturi quibusdam
            autem vel cum recusandae doloribus asperiores, voluptatum atque
            numquam hic, eum dicta qui dolores eligendi, iure alias? Sit
            voluptas nisi recusandae suscipit! Dolore quia cumque facilis at
            ducimus! Laboriosam culpa quos, dicta officiis, harum saepe
            excepturi distinctio at quod, quas dolorum consectetur non. Odio
            fugit tempore sint inventore atque quia sed culpa! Non nam illo eius
            quas ipsa cupiditate, molestiae distinctio repellendus fugiat
            mollitia odio amet maiores laboriosam. Quaerat aspernatur vitae
            temporibus similique totam ex nulla nam, reiciendis tenetur, animi
            saepe suscipit! Sunt distinctio ipsam sequi, dicta, modi, laborum
            veniam nobis consequatur iure necessitatibus neque dolor saepe
            accusamus vero unde minima architecto maxime officia? Voluptatibus
            impedit odio delectus architecto repudiandae officiis sunt? Omnis,
            reiciendis molestias perspiciatis nobis, aperiam vitae voluptatem
            qui cum illum ea rerum, reprehenderit quasi nulla error libero eum
            ipsum provident accusantium voluptates tenetur. Iusto sapiente atque
            adipisci tempore fuga? Exercitationem quae veritatis eum tempora
            illum placeat reprehenderit, illo est beatae facilis sed quis,
            impedit vel amet! Beatae, repellat aspernatur, quaerat
            exercitationem harum facilis, dolorem odio hic qui esse repudiandae!
            Neque labore voluptatum quibusdam recusandae deserunt autem
            doloribus aliquam id, atque natus tempora magnam obcaecati totam
            eaque repellendus sint sapiente perspiciatis aperiam eos ipsum,
            placeat nulla officiis excepturi. Minima, velit! Voluptatem,
            praesentium error veniam delectus nisi beatae magnam dolorum iusto
            ipsa iure ad facere ullam quod ipsum tempore reprehenderit impedit,
            repellat alias? Delectus eligendi quae ea. Vel debitis iure cum!
            Fugiat pariatur officiis hic esse dolores totam, error similique
            optio debitis assumenda numquam perferendis sint quo quod nihil?
            Optio assumenda ullam quis nulla voluptatum animi rerum nesciunt
            facilis! Tempora, earum? Temporibus voluptas ex labore consectetur,
            est dolorum a. Dignissimos dicta, quae pariatur nesciunt veritatis
            sit mollitia officia dolores architecto, illo similique laborum
            eaque ex. At accusantium ipsa quis beatae quas. Ratione asperiores,
            molestias neque recusandae iusto blanditiis quae dolores sint rerum
            distinctio magnam excepturi voluptatem, similique rem ut repellat a,
            earum ducimus reiciendis esse fugiat illo commodi ipsum corporis?
            At? Sit minus tempore, error nisi eaque totam dicta ea, eum possimus
            sapiente, fugiat id veniam numquam soluta consequatur laboriosam
            nostrum ratione non placeat dignissimos natus magni ex. Voluptates,
            corrupti quae. Ipsum eius cumque alias ullam, qui, voluptatibus
            blanditiis similique molestiae aperiam quod velit corporis
            distinctio ad laboriosam harum sint est ut esse nemo, exercitationem
            totam quibusdam eveniet voluptate repellendus! Officiis! Ipsum quos
            accusantium magni a aut iure officiis rerum doloremque incidunt sed
            dolores similique tempore aperiam alias modi inventore officia
            provident quae, labore aliquam, reprehenderit unde? Porro dolorem
            sint ex?
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="prompt-area">
    <div class="input-area">
      <div class="input-top">
        <input
          type="text"
          name="prompt"
          id="prompt"
          placeholder="Message vorex"
        />
      </div>
      <div class="input-bottom">
        <i>upload</i>
        <i>search</i>
      </div>
    </div>
  </div>
  <div class="footer">
    <p>Ai generated! Only for reference.</p>
  </div>
</div>
{% endblock %}
